* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #282828;
    text-decoration: none;
}

.content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.authorized-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.authorized-username {
    font-size: 16px;
    color: #ffffff;
}

.header {
    background-color: cornflowerblue;
    padding: 15px 0;
    color: #ffffff;
}

.logout-btn {
    margin-left: 15px;
    padding-right: 10px;
    color: #ffffff;
}

.general-balance {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.main {

}

.balance {
    margin-bottom: 30px;
}

.balance__current-balance {

}

.balance__new-balance {
    font-size: 18px;
    color: #42a81e;
}

.balance__remove-balance{
    font-size: 18px;
    color: #d50d0d;
}

.balance__new-transaction {
    font-size: 18px;
    color: #42a81e;
}

.transactions {
    border: 1px solid #282828;

    width: 100%;
    height: 600px;
    padding: 10px;
}

.transactions__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.transactions__income {
    height: 50%;
    overflow: auto;
}

.transactions__consumption {
    height: 50%;
    overflow: auto;
}

.transactions__data-row {
    display: flex;
}

.transactions__date {
    width: 20%;
}

.transactions__amount {
    width: 20%;
}

.transactions__comment {
    width: 60%;
}


.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    animation-name: modalOpen;
    animation-duration: .4s;
}

@keyframes modalOpen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.add-balance {
    position: relative;
    width: 600px;
    height: 500px;

    background: #ffffff;

    padding: 30px 100px;
}

.add-balance__title {
    font-size: 25px;
    text-align: center;
}

.add-balance__form {
    height: 90%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-balance__label {
    width: 150px;
    margin-bottom: 5px;
    font-size: 15px;
}

.add-balance__label-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}


.add-balance__label-wrapper > input {
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 5px;
}

.add-balance__submit-btn {
    background-color: #42a81e;
    color: #ffffff;
    padding: 10px 15px;

    border: 0;
    outline: 0;

    margin-top: 100px;

    cursor: pointer;
    transition: .3s;
}

.add-balance__submit-btn:hover {
    background-color: #286e14;

}

.add-balance__input-wrapper {

}

.add-balance__close {
    position: absolute;
    right: 30px;
    top: 30px;

    background: 0;
    border: 0;
    outline: 0;

    cursor: pointer;
}